{% extends "layouts/layout.html" %}

<!-- Start of Main Navigation Bar -->
{% block navbar %}
<!-- Start of Navigation Bar -->
<div class="row d-flex justify-content-between align-items-center">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <!-- Start of Navbar Header -->
        <div class="navbar-brand">
            <!-- Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
            </svg>
            
            <!-- Header -->
            <small class="align-self-center">&nbsp;SolvePy&nbsp;</small>
            
            <!-- Hamburger Menu -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#webpages" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- End of Navbar Header -->

        <!-- Start of Navbar Pages -->
        <div class="collapse navbar-collapse" id="webpages">
            <ul class="navbar-nav mr-auto">
                {% block pages %}
                {% endblock %}
            </ul>
        </div>
        <!-- End of Navbar Pages -->

        <!-- Start of Home Button -->
        <button class="btn btn-outline-light my-2 my-sm-0" type="button">Go Back</button>
        <!-- End of Home Button -->
    </nav>
</div> <br /> <br /> <br /> <br /> <br />
<!-- End of Navigation Bar -->
{% endblock %}
<!-- End of Main Navigation Bar -->

<!-- Start of Body -->
{% block body %}
    <!-- Start of Header -->
    <div class="row">
        <div class="col-12">
            <small class="text-secondary text-uppercase">
                {% block subtitle %}
                {% endblock %}
            </small>

            <h1 class="text-primary">
                {% block title %}
                {% endblock %}
            </h1>
        </div>
    </div> <br />
    <!-- End of Header -->

    <!-- Start of Tutorial Card -->
    <div class="row">
        <div class="col-12 card">
            <!-- Start of Card Header -->
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="faq-tabs" role="tablist">
                    <!-- Start of Header Items -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first" type="button" role="tab" aria-controls="first" aria-selected="true">
                            {% block first_tab_name %}
                            {% endblock %}
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second" type="button" role="tab" aria-controls="second" aria-selected="true">
                            {% block second_tab_name %}
                            {% endblock %}
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="third-tab" data-bs-toggle="tab" data-bs-target="#third" type="button" role="tab" aria-controls="third" aria-selected="true">
                            {% block third_tab_name %}
                            {% endblock %}
                        </button>
                    </li>
                    <!-- End of Header Items -->
                </ul>
            </div>
            <!-- End of Card Header -->

            <!-- Start of Card Body -->
            <div class="card-body tab-content" id="item-content">
                <!-- Start of First Tab -->
                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                    <!-- Header -->
                    <br /> <h5>
                        {% block first_tab_header %}
                        {% endblock %}
                    </h5>

                    <!-- Content -->
                    <p>
                        {% block first_tab_body %}
                        {% endblock %}
                    </p>
                </div>
                <!-- End of First Tab -->

                <!-- Start of Second Tab -->
                <div class="tab-pane fade show" id="second" role="tabpanel" aria-labelledby="second-tab">
                    <!-- Header -->
                    <br /> <h5>
                        {% block second_tab_header %}
                        {% endblock %}
                    </h5>

                    <!-- Content -->
                    <p>
                        {% block second_tab_body %}
                        {% endblock %}
                    </p>
                </div>
                <!-- End of Second Tab -->

                <!-- Start of Third Tab -->
                <div class="tab-pane fade show" id="third" role="tabpanel" aria-labelledby="third-tab">
                    <!-- Header -->
                    <br /> <h5>
                        {% block third_tab_header %}
                        {% endblock %}
                    </h5>

                    <!-- Content -->
                    <p>
                        {% block third_tab_body %}
                        {% endblock %}
                    </p>
                </div>
                <!-- End of Third Tab -->
            </div>
            <!-- End of Card Body -->
        </div>
    </div> <br /> <br />
    <!-- End of Tutorial Card -->

    <!-- Start of Body -->
    {% block inner_body %}
    {% endblock %}
    <!-- End of Body -->

    <!-- Start of Footer -->
    <br /> <br /> <br /> <br />
    <!-- End of Footer -->
{% endblock %}
<!-- End of Body -->