<!-- ** Sublayout 
    | This serves as the base template for all
    | web pages except for index.html.
-->
{% extends "layouts/layout.html" %}

<!-- Start of Navbar -->
{% block navbar %}
<div class="row d-flex justify-content-between align-items-center">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <!-- Start of Header -->
        <div class="navbar-brand">
            <!-- Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
            </svg>
            
            <!-- Header -->
            <small class="align-self-center">&nbsp;SolvePy&nbsp;</small>
            
            <!-- Hamburger Menu (for Mobile) -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#webpages" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- End of Header -->

        <!-- Start of Web Pages -->
        <div class="collapse navbar-collapse" id="webpages">
            <ul class="navbar-nav mr-auto">
                {% for k in pages.keys() %}
                    <li class="nav-item">
                        <a class="nav-link {% if page == k %} active {% endif %}" {% if page != k %} href="{{ (pages[k])['route'] }}" {% endif %}>{{ (pages[k])['name'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- End of Web Pages -->

        <!-- Start of Home Button -->
        <button class="btn btn-outline-light my-2 my-sm-0" type="button">Go Back</button>
        <!-- End of Home Button -->
    </nav>
</div> <br /> <br /> <br /> <br /> <br />
{% endblock %}
<!-- End of Navbar -->

<!-- Start of Body -->
{% block body %}
    <!-- Start of Header -->
    <div class="row mb-4">
        <div class="col-12">
            <!-- Subtitle -->
            <small class="text-secondary text-uppercase">
                {% block subtitle %}
                {% endblock %}
            </small>

            <!-- Title -->
            <h1 class="text-primary">
                {% block title %}
                {% endblock %}
            </h1>
        </div>
    </div>
    <!-- End of Header -->

    <!-- Start of Tutorial Card -->
    <div class="row mb-5">
        <div class="col-12 card">
            <!-- Start of Card Header -->
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="faq-tabs" role="tablist">
                    {% for _ in range(0, tabs|length) %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {% if _ == 0 %} active {% endif %} text-capitalize" id="{{ (tabs[_])['name'] }}" data-bs-toggle="tab" data-bs-target="#{{ (tabs[_])['name'] }}-tab" type="button" role="tab" aria-controls="{{ (tabs[_])['name'] }}" aria-selected="true">
                                {{ (tabs[_])['name'] }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End of Card Header -->

            <!-- Start of Card Body -->
            <div class="card-body tab-content" id="item-content">
                {% for _ in range(0, tabs|length) %}
                    <div class="tab-pane fade show {% if _ == 0 %} active {% endif %}" id="{{ (tabs[_])['name'] }}-tab" role="tabpanel" aria-labelledby="{{ (tabs[_])['name'] }}">
                        <br /><h5>{{ (tabs[_])['header'] }}</h5>
                        <p>{{ (tabs[_])['body'] }}</p>
                    </div>
                {% endfor %}
            </div>
            <!-- End of Card Body -->
        </div>
    </div>
    <!-- End of Tutorial Card -->

    <!-- Start of Nested Body -->
    {% block subbody %}
    {% endblock %}
    <!-- End of Nested Body -->

    <!-- Start of Footer -->
    <br /> <br /> <footer class="mb-5">
        <!-- Divider -->
        <hr class="mt-5 mb-3" />

        <!-- Start of Row -->
        <div class="row mt-4 text-secondary d-flex flex-row justify-content-between">
            <!-- Start of Logo and Title -->
            <div class="col-6 d-flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                    <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
                </svg>
                <p>&nbsp;&nbsp;&copy; SolvePy</p>
            </div>
            <!-- End of Logo and Title -->

            <!-- Start of Pages -->
            <div class="col-6 d-flex flex-row justify-content-end">
                {% for k in pages.keys() %}
                    <p class="mr-4">&nbsp;&nbsp;&nbsp;{{ (pages[k])['name'] }}</p>
                {% endfor %}
            </div>
            <!-- End of Pages -->
        </div>
        <!-- End of Row -->
    </footer>
    <!-- End of Footer -->
{% endblock %}
<!-- End of Body -->