{% extends "layouts/layout.html" %}

{% block body %}
    <!-- Start of Header -->
    <div class="row text-primary mt-5 d-flex align-items-center">
        <div class="d-flex flex-row">
            <!-- Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
            </svg>
            
            <!-- Header -->
            <h3 class="align-self-center">&nbsp;&nbsp;SolvePy&nbsp;</h3>
        </div>
    </div> <br />
    <!-- End of Header -->

    <!-- Start of Title -->
    <div class="row">
        <!-- Start of Badge -->
        <div class="d-flex justify-content-center">
            <h1 class="display-4 mt-5"><span class="badge bg-primary">>> Let's get solving.</span></h1>
        </div>
        <!-- End of Badge -->

        <!-- Start of Description -->
        <div class="d-flex justify-content-center">
            <p class="lead mt-3 col-8 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra risus mollis pharetra ultrices amet, blandit vestibulum viverra viverra.</p>
        </div>
        <!-- End of Description -->

        <!-- Start of Cards -->
        <div class="d-flex flex-row justify-content-center mt-5">
            <div class="col-1"></div>
            {% for k in pages.keys() %}
                <div class="card col-3 mr-5 mt-4">
                    <div class="card-header">{{ (pages[k])['subheader'] }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ (pages[k])['name'] }}</h5>
                        <p class="card-text">{{ (pages[k])['description'] }}</p>
                        <a href="{{ (pages[k])['route'] }}" class="btn btn-primary">Redirect {{ (pages[k])['name'] }}</a>
                    </div>
                </div>
                <div class="col-1"></div>
            {% endfor %}
        </div>
        <!-- End of Cards -->
    </div>
    <!-- End of Title -->
{% endblock %}