{% extends "layouts/layout.html" %}

<!-- External Styles -->
{% block body %}
    <!-- Start of Header -->
    <div class="row text-primary mt-5 d-flex align-items-center">
        <div class="d-flex flex-row">
            <!-- Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
            </svg>
            
            <!-- Header -->
            <h3 class="align-self-center">&nbsp;&nbsp;SolvePy&nbsp;</h3>
        </div>
    </div> <br />
    <!-- End of Header -->

    <!-- Start of Container -->
    <div class="row">
        <!-- Start of Header -->
        <div class="col-6 d-flex align-items-center">
            <div class="d-flex flex-column">
                <h1 class="text-primary text-left">Let's get solving.</h1>
                <p class="lead">SolvePy is a generic solver for Quadratic Spline Interpolation and Simplex Method.</p>

                <!-- Start of Button Container -->
                <div class="mt-4">
                    <a href="/solve/qsi" class="btn btn-outline-primary" role="button" aria-disabled="true">Solve QSI</a>
                    <a href="/solve/simplex" class="btn btn-outline-secondary" role="button" aria-disabled="true">Solve Simplex</a>
                </div>
                <!-- End of Button Container -->
            </div>
        </div>
        <!-- End of Header -->

        <!-- Start of Icon -->
        <div class="col-6">
            <img src="{{ url_for('static', filename='index.svg') }}" width="100%" height="100%" />
        </div>
        <!-- End of Icon -->
    </div>
    <!-- End of Container -->
{% endblock %}