<!-- ** QSI
    | This serves as the web page for the
    | QSI generic solver.
-->
{% extends "layouts/sublayout.html" %}

<!-- Start of Header -->
{% block subtitle %}
    Generic Solver
{% endblock %}

{% block title %}
    Quadratic Spline Interpolation
{% endblock %}
<!-- End of Header -->

<!-- Start of Nested Body -->
{% block subbody %}
    <!-- Start of Form -->
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row mb-4">
            <!-- Start of X-Values -->
            {{ form.xv.label(class="form-label fw-bold col-1", text = "X Values") }}
            <div class="col-5">
                <div class="input-group mb-3">
                    {% if form.xv.errors %}
                        {{ form.xv(class = "form-control is-invalid", placeholder = "i.e. 1,2,3,4,5", required = false) }}
                        {% for e in form.xv.errors %}
                            <div class="invalid-feedback mt-3">
                                <span>{{ e }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.xv(class = "form-control", placeholder = "i.e. 1,2,3,4,5", required = false) }}
                        <small class="form-text text-muted col-xl-12 mt-3">❔ Enter multiple numbers separated by commas.</small>
                    {% endif %}
                </div>
            </div>
            <!-- End of X-Values -->

            <!-- Start of Y-Values -->
            {{ form.yv.label(class = "form-label fw-bold col-1", text = "Y Values") }}
            <div class="col-5">
                <div class="input-group mb-3">
                    {% if form.yv.errors %}
                        {{ form.yv(class = "form-control is-invalid", placeholder = "i.e. 1,2,3,4,5", required = false) }}
                        {% for e in form.yv.errors %}
                            <div class="invalid-feedback mt-3">
                                <span>{{ e }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.yv(class = "form-control", placeholder = "i.e. 1,2,3,4,5", required = false) }}
                        <small class="form-text text-muted col-xl-12 mt-3">❔ Enter multiple numbers separated by commas.</small>
                    {% endif %}
                </div>
            </div>
            <!-- End of Y-Values -->
        </div>

        <div class="row mb-5">
            <!-- Start of Value -->
            {{ form.x.label(class = "form-label fw-bold col-1", text = "Value") }}
            <div class="col-5">
                <div class="input-group mb-3">
                    {% if form.x.errors %}
                        {{ form.x(class = "form-control is-invalid", placeholder = "i.e. 1", required = false) }}
                        {% for e in form.x.errors %}
                            <div class="invalid-feedback mt-3">
                                <span>{{ e }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.x(class = "form-control", placeholder = "i.e. 1", required = false) }}
                        <small class="form-text text-muted col-xl-12 mt-3">❔ Enter a number.</small>
                    {% endif %}
                </div>
            </div>
            <!-- End of Value -->
        </div>

        <!-- Start of Button Container -->
        <div class="row">
            <div class="d-flex flex-row justify-content-center">
                {{ form.send(class = "btn btn-primary", value = "Display Output") }} &nbsp;
            </div>
        </div>
        <!-- End of Button Container -->
    </form>
    <!-- End of Form -->

    <!-- Start of Output -->
    {% if output is not none and output != -1 %}
        <div id="output" class="d-block">
            <!-- Divider -->
            <br /> <hr />

            <!-- Start of Polynomials -->
            <div class="row mt-5">
                <!-- Header -->
                <h4 class="text-success">Polynomials</h4>
                <p class="text-secondary">Below are the polynomials along with its corresponding interval.</p>
                
                <!-- Table -->
                <table class="table table-striped table-borderless">
                    <!-- Start of Header -->
                    <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Polynomial</th>
                            <th scope="col">Interval</th>
                        </tr>
                    </thead>
                    <!-- End of Header -->

                    <!-- Start of Body -->
                    <tbody class="text-center">
                        {% for _ in range(0, output['polynomials']|length) %}
                            <tr>
                                <th scope="row">{{ _ + 1 }}</th>
                                <td>{{ (output['polynomials'])[_] }}</td>
                                <td>{{ (output['intervals'])[_][0] }} ≤ x ≤ {{ (output['intervals'])[_][1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <!-- End of Body -->
                </table>
            </div>
            <!-- End of Polynomials -->

            {% if output['y'] is not none %}
                <!-- Start of Approximate -->
                <div class="row">
                    <!-- Header -->
                    <h4 class="text-success mt-5">Approximate</h4>
                    <p class="text-secondary">Below is the approximate value of f(x) based on the interval.</p>
                    
                    <!-- Table -->
                    <table class="table table-striped table-borderless">
                        <!-- Start of Header -->
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Interval</th>
                                <th scope="col">Polynomial</th>
                                <th scope="col">Approximate Value</th>
                            </tr>
                        </thead>
                        <!-- End of Header -->

                        <!-- Start of Body -->
                        <tbody class="text-center">
                            <tr>
                                <td scope="row">{{ (output['intervals'])[output['intindex']][0] }} ≤ x ≤ {{ (output['intervals'])[output['intindex']][1] }}</td>
                                <td>{{ (output['polynomials'])[output['intindex']] }}</td>
                                <td>{{ output['y'] }}</td>
                            </tr>
                        </tbody>
                        <!-- End of Body -->
                    </table>
                </div>
                <!-- End of Approximate -->
            {% else %}
                <div id="output" class="d-block">
                    <!-- Divider -->
                    <br /> <hr />
        
                    <!-- Start of Approximate Error -->
                    <div class="card mt-5">
                        <!-- Header -->
                        <div class="card-header">
                            ❌ Error
                        </div>
        
                        <!-- Body -->
                        <div class="card-body">
                            <h5 class="card-title text-danger">No Approximate Value Available</h5>
                            <p class="card-text">The number to be evaluated does not belong in any of the given intervals. Try again with a different number.</p>
                        </div>
                    </div>
                    <!-- End of Approximate Error -->
                </div>
            {% endif %}
        </div>
    {% elif output == -1 %}
        <div id="output" class="d-none"></div>
    {% else %}
        <div id="output" class="d-block">
            <!-- Divider -->
            <br /> <hr />

            <!-- Start of Polynomials Error -->
            <div class="card mt-5">
                <!-- Header -->
                <div class="card-header">
                    ❌ Error
                </div>

                <!-- Body -->
                <div class="card-body">
                    <h5 class="card-title text-danger">No Feasible Solution</h5>
                    <p class="card-text">There is no feasible solution based on the given data points. This is because the resulting matrix is not diagonally dominant.</p>
                </div>
            </div>
            <!-- End of Polynomials Error -->
        </div>
    {% endif %}
    <!-- End of Output -->
{% endblock %}
<!-- End of Nested Body -->