{% extends "layouts/inner_header.html" %}

<!-- Start of Navigation Bar -->
{% block pages %}
    <li class="nav-item">
        <a class="nav-link active">QSI</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/solve/simplex">Simplex</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
{% endblock %}
<!-- End of Navigation Bar -->

<!-- Start of Header -->
{% block subtitle %}
    Generic Solver
{% endblock %}

{% block title %}
    Quadratic Spline Interpolation
{% endblock %}
<!-- End of Header -->

<!-- Start of Tab Names -->
{% block first_tab_name %}
    Tutorial
{% endblock %}

{% block second_tab_name %}
    Input
{% endblock %}

{% block third_tab_name %}
    Output
{% endblock %}
<!-- End of Tab Names -->

<!-- Start of Tab Headers -->
{% block first_tab_header %}
    How do I use this solver? 🤔
{% endblock %}

{% block second_tab_header %}
    What should I input? ⚙️
{% endblock %}

{% block third_tab_header %}
    What should I receive? ✨
{% endblock %}
<!-- End of Tab Header -->

<!-- Start of Tab Bodies -->
{% block first_tab_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et ipsum tellus. Sit mattis sem ac aliquet aenean amet nibh. Turpis eget lorem sem leo suscipit netus faucibus sed. Consectetur velit dolor sed sed. Ipsum enim laoreet odio accumsan nulla. Quam eget lorem magna id arcu. Ultricies odio feugiat semper purus sem sit magna sed gravida.
{% endblock %}

{% block second_tab_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et ipsum tellus. Sit mattis sem ac aliquet aenean amet nibh. Turpis eget lorem sem leo suscipit netus faucibus sed. Consectetur velit dolor sed sed. Ipsum enim laoreet odio accumsan nulla. Quam eget lorem magna id arcu. Ultricies odio feugiat semper purus sem sit magna sed gravida.
{% endblock %}

{% block third_tab_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et ipsum tellus. Sit mattis sem ac aliquet aenean amet nibh. Turpis eget lorem sem leo suscipit netus faucibus sed. Consectetur velit dolor sed sed. Ipsum enim laoreet odio accumsan nulla. Quam eget lorem magna id arcu. Ultricies odio feugiat semper purus sem sit magna sed gravida.
{% endblock %}
<!-- End of Tab Bodies -->

<!-- Start of Body -->
{% block inner_body %}
    <!-- Start of Form -->
    <form class="form-floating">
        <div class="mb-3 row">
            <!-- Start of X Values -->
            <!-- Label -->
            <label for="xval" class="col-sm-1 col-form-label fw-bold">X Values</label>

            <!-- Input Text -->
            <div class="col-sm-4">
                <input type="text" class="form-control" id="xval" placeholder="i.e. 1,2,3,4,5" />
                <div id="xhelp" class="form-text">Enter values separated by a comma.</div>
            </div>
            <!-- End of X Values -->

            <!-- Start of Y Values -->
            <!-- Label -->
            <label for="uval" class="col-sm-1 col-form-label fw-bold">Y Values</label>
            
            <!-- Input Text -->
            <div class="col-sm-4">
                <input type="text" class="form-control" id="yval" placeholder="i.e. 1,2,3,4,5" />
                <div id="yhelp" class="form-text">Enter values separated by a comma.</div>
            </div>
            <!-- End of Y Values -->
        </div>
    </form>
    <!-- End of Form -->
{% endblock %}
<!-- End of Body -->