{% extends "layouts/inner_layout.html" %}

<!-- Start of Navigation Bar -->
{% block pages %}
    <li class="nav-item">
        <a class="nav-link" href="/solve/qsi">QSI</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active">Simplex</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
{% endblock %}
<!-- End of Navigation Bar -->

<!-- Start of Header -->
{% block subtitle %}
    Generic Solver
{% endblock %}

{% block title %}
    Simplex Method
{% endblock %}
<!-- End of Header -->

<!-- Start of Tab Names -->
{% block first_tab_name %}
    Tutorial
{% endblock %}

{% block second_tab_name %}
    Problem
{% endblock %}

{% block third_tab_name %}
    Legend
{% endblock %}
<!-- End of Tab Names -->

<!-- Start of Tab Headers -->
{% block first_tab_header %}
    How do I use this solver? 🤔
{% endblock %}

{% block second_tab_header %}
    What should I input? ⚙️
{% endblock %}

{% block third_tab_header %}
    What should I receive? ✨
{% endblock %}
<!-- End of Tab Header -->

<!-- Start of Tab Bodies -->
{% block first_tab_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et ipsum tellus. Sit mattis sem ac aliquet aenean amet nibh. Turpis eget lorem sem leo suscipit netus faucibus sed. Consectetur velit dolor sed sed. Ipsum enim laoreet odio accumsan nulla. Quam eget lorem magna id arcu. Ultricies odio feugiat semper purus sem sit magna sed gravida.
{% endblock %}

{% block second_tab_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et ipsum tellus. Sit mattis sem ac aliquet aenean amet nibh. Turpis eget lorem sem leo suscipit netus faucibus sed. Consectetur velit dolor sed sed. Ipsum enim laoreet odio accumsan nulla. Quam eget lorem magna id arcu. Ultricies odio feugiat semper purus sem sit magna sed gravida.
{% endblock %}

{% block third_tab_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices et ipsum tellus. Sit mattis sem ac aliquet aenean amet nibh. Turpis eget lorem sem leo suscipit netus faucibus sed. Consectetur velit dolor sed sed. Ipsum enim laoreet odio accumsan nulla. Quam eget lorem magna id arcu. Ultricies odio feugiat semper purus sem sit magna sed gravida.
{% endblock %}
<!-- End of Tab Bodies -->

<!-- Start of Body -->